/*
99c1de
fad2e1
ffd500
eddcd2
9b9b7a
*/



.container {
  background: #EECDA3;
  background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);
  background: linear-gradient(to right, #EF629F, #EECDA3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

    .content{
        max-width: 950px;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
        border-radius: 4px;
        position: relative;
        overflow: scroll;
    }
    .content{
      padding: 1em;
    }
    td{
      display: block;
      width: 100%;
    }
    td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #ff006e;
    }

    th{
      display: none;
    }

.position {
background-color: #ff0080;
  color: white;
  padding: 10px;
  margin-right:0.5em;
}

.actions {
position: absolute;
top:1em;
right:1em;
}
.close{
height: 40px;
width: 40px;
color: white;
border-radius: 50px;
background-color: #ff0080;
display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
  font-weight: 300;
  cursor:pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}
.title-item {
border-bottom: solid;
border-width: 8px;
border-color: #ff0080;
padding-bottom: 1em;
}

.address{
font-weight: bold;
color: #ffd500;
font-size: 0.9em;
margin-top: 1em;
display: inline-block;
}

.main-image{
float: left;
margin-right: 1em;
height: 250px;
}

     html {
    font-family: 'Pattaya', sans-serif;
  }
    a{
        text-decoration: none;
        color: #cb00bd;
    }

a:hover{
text-decoration: none;
color:#f08080;
}
img {
max-width: 100%;
}
    .title{
        text-transform: uppercase;
        text-align: center;
    }

    .fa-star{
        color: #ffd500;
    }

    .paragraph{
        line-height: 1.5em;
        text-align: justify;
    }

    .table{
        width: 100%;
        border-spacing: 0;
    }

    .table td, .table th{
        padding: 1em;
        text-align: left;
    }

    .table tr:nth-child(even) {
        background-color: #d3dfe8;
      }
      @media (min-width:900px) {
th{
display: table-cell;
}
td{
  width: auto;
display: table-cell;
}
td:nth-last-of-type(1){
  font-size: 1em;
}

.content{
padding: 1.8em;
}

      }
@media (min-height:550px) {
.content {
  height: 500px;
}

}
